body {
    background-color: rgb(150, 221, 244);
  }
  h1 {
    text-align: center;
    color: grey;
    padding: 50px;
    background-color: white;
  }

  p {
    text-align: left;
    font-weight: bolder;
    color: blueviolet;
  }
  div {
    display: flex;
    justify-content: center;
  }